html, body {
    background: #F7F5E6;
    margin: 0;
    padding: 0;
}

.slider {
    margin: 0 auto;
    max-width: 300px;
}

.slide_viewer {
    height: 180px;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:nth-of-type(1),
.slide:nth-of-type(2),
.slide:nth-of-type(3),
.slide:nth-of-type(4) {
    background-size: cover;
}

.slide:nth-of-type(1) {
    background: url('image1.png') center center no-repeat;
}

.slide:nth-of-type(2) {
    background: url('image2.png') center center no-repeat;
}

.slide:nth-of-type(3) {
    background: url('image3.png') center center no-repeat;
}

.slide:nth-of-type(4) {
    background: url('image4.png') center center no-repeat;
}

.slide_buttons {
    text-align: center;
}

a.slide_btn {
    color: #474544;
    font-size: 16px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
}

.directional_nav {
    display: none;
}

@media only screen and (max-width: 767px) {
    .slider {
        max-width: 240px;
    }

    .slide_viewer {
        height: 120px;
    }

    .slide_buttons {
        font-size: 14px;
    }
}

