@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #DCF2F1;
  color: #0F1035;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #0F1035;
}

.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-between;
}

a {
  color: #7FC7D9;
  text-decoration: none;
}

.nav .logo {
  font-size: 22px;
  font-weight: 500;
}

.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}

.nav .nav-links a {
  transition: all 0.2s linear;
  padding: 10px 14px;
}

.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}

.nav .search-icon {
  color: #7FC7D9;
  font-size: 20px;
  cursor: pointer;
}

.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}

.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}

.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}

@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}

@media screen and (max-width: 880px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }

  .nav.openNav .nav-links {
    left: 0;
  }

  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

.link:hover {
  background: #7FC7D9;
  color: #365486;
  border-radius: 5px;
  box-shadow: 0 0 5px #7FC7D9,
    0 0 25px #7FC7D9;
  transition: .5s;
}

.logo {
  color: #7FC7D9;
}

    progress {
        width: 300px;
        height: 25px;
        border-radius: 20px;
        border: 2px solid #0F1035;
    }
      progress::-webkit-progress-bar {
        background-color: #DCF2F1;
        border-radius: 20px;
      }
      progress::-webkit-progress-value {
        background-color: #7FC7D9;
        box-shadow: 0 0 5px #7FC7D9;
        border-radius: 20px;
    } 

    input[type=checkbox] {
        accent-color: #7FC7D9;
        transition: accent-color 0.3s ease;
      }

      input[type=checkbox]:hover {
        accent-color:  #7FC7D9;
      }

      .search-results .result[data-keyword*="design"] {
        font-weight: bold;
        color: #365486; 
    }
    
    .search-box {
        position: relative;
        margin: 10px auto;
        width: 60%;
    }
    
    .search-input {
        width: 100%;
        padding: 10px;
        border: 2px solid #fff;
        border-radius: 4px;
        font-size: 16px;
    }

    .search-box input[type="text"]::placeholder {
      color: 365486 !important;
    }
    
    .search-results {
      display: flex;
      flex-direction: column; 
      padding: 0 8px;
      background-color: #ffffff;
      border: solid 365486 2px;
    }
    
    .result {
      cursor: pointer;
    
    }
    
    .result:hover {
      background-color: #0F1035; 
      color: #DCF2F1; 
    }
    
    a:hover {
      color: #0F1035;
    }

    .logo-name:hover {
      color: #7FC7D9;
    }

@media screen and (max-width: 880px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }

  .nav.openNav .nav-links {
    left: 0;
  }

  .nav .navOpenBtn {
    color: #7FC7D9;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #7FC7D9;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

.link:hover{
    background: #7FC7D9;
    color: #0F1035;
    border-radius: 5px;
    box-shadow: 0 0 5px #7FC7D9,
                0 0 25px #7FC7D9;
    transition: .5s;            
  }

  .logo {
    color: #7FC7D9;
  }

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media screen and (max-width: 600px) {
  .name {
    max-width: 80%;
  }
}

    .chapter-1 {
      background-color: #DCF2F1;
      color: #0F1035;
      padding-left: 60px;
      padding-right: 60px;
      text-align: justify;
    }

    .chapter-2 {
      background-color: #365486;
      color: #DCF2F1;
      padding-top: 20px;
      padding-left: 60px;
      padding-right: 60px;
    }

    .chapter-3 {
      padding-top: 20px;
      background-color: #DCF2F1;
      color: #0F1035;
      padding-left: 60px;
      padding-right: 60px;
    }

    .chapter-4 {
      background-color: #365486;
      color: #DCF2F1;
      padding-top: 20px;
      padding-left: 60px;
      padding-right: 60px;
    }

    .chapter-5 {
      padding-top: 20px;
      background-color: #DCF2F1;
      color: #0F1035;
      padding-left: 60px;
      padding-right: 60px;
    }

    .footer{
      margin-top: auto; 
      margin-top: 20px;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #7FC7D9;
      background-color: #0F1035;
    }

    .footer-a:hover {
      color: #365486;
    }

    p, h3 {
      text-align: justify;
      text-justify: inter-word;
    }